$color: red;


.App {
  text-align: center;
  justify-content: center;
}

.App-header {
  background-color: #222;
  height: 300px;
  padding: 20px;
  color: $color;
  width: 990px;
}

.App-intro {
  font-size: large;
  
}

.Dropdown {
  position: relative;
  top: 20px;
  width: 30px;
  height: 21px;
  background-color: teal;  
  }

.DropdownContainer{
  display: flex;
}

.attributeContainer{
  display: flex;
  position: relative;
  padding-left: 8px;  
  div{
    padding-right: 5px;
    background: teal;
    &:hover{
      box-shadow: 2px 2px 2px 1px black;
      outline: blue;
    }
  }
}

.ListOfPeople{
  width: 1050px;
  display: flex;
  flex-wrap: wrap;
}

.Portrait{
  outline: 4px solid gray;
  outline-offset: -6px;
  padding: 2px;

}