.App {
  text-align: center;
  justify-content: center; }

.App-header {
  background-color: #222;
  height: 300px;
  color: red; }

.App-intro {
  font-size: large; }

.Dropdown {
  position: relative;
  top: 20px;
  width: 30px;
  height: 21px;
  background-color: teal; }
  @media screen and (max-width: 400px) {
    .Dropdown {
      position: absolute;
      top: 380px;
      left: 42px; } }

.DropdownContainer {
  display: flex;
  text-align: center;
  justify-content: center; }
  @media screen and (max-width: 400px) {
    .DropdownContainer {
      justify-content: left;
      flex: wrap; } }

.attributeContainer {
  display: flex;
  position: relative;
  padding-left: 8px; }
  .attributeContainer div {
    padding-right: 5px;
    background: teal; }
    .attributeContainer div:hover {
      box-shadow: 2px 2px 2px 1px black;
      outline: blue; }

.ListOfPeople {
  max-width: 1050px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin: auto; }

.Portrait {
  outline: 4px solid gray;
  outline-offset: -6px;
  padding: 2px; }
