.App {
  text-align: center;
  justify-content: center; }

.App-header {
  background-color: #222;
  height: 300px;
  padding: 20px;
  color: red; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.Dropdown {
  position: relative;
  top: 20px;
  width: 30px;
  height: 21px;
  background-color: teal; }

.DropdownContainer {
  display: flex; }

.attributeContainer {
  display: flex;
  position: relative;
  padding-left: 8px; }
  .attributeContainer div {
    padding-right: 5px;
    background: teal; }
    .attributeContainer div:hover {
      box-shadow: 2px 2px 2px 1px black;
      outline: blue; }

.ListOfPeople {
  width: 1000px;
  display: flex;
  flex-wrap: wrap; }
